doctype html
html
  head
    meta(charset='utf-8')
    title=title
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
    script(src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css', rel='stylesheet')
    style.
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; width:100%; }
  body
    if user
      #map
      script.
        // Concatenates address of user into a url query, which returns a GeoJSON
        var address = "#{user.customData.streetAddress}".split(" ").join("+") + "+" + "#{user.customData.city}" + "+" + "#{user.customData.state}";
        var url = "http://api.tiles.mapbox.com/v4/geocode/mapbox.places/" + address + ".json?access_token=" + "pk.eyJ1Ijoic29jYWxkZXYiLCJhIjoiZDY2MGE5NWZhM2I0MTljODEyYTQxMzhmYmI5ODljNDUifQ.zRANwM_bBUoK33R0VGRPHw";
        var latVal = 34.139011;
        var longVal = -118.124514;
        var limit = 50;
        var newURL = "http://api.v3.factual.com/t/restaurants-us?geo={%22$circle%22:{%22$center%22:[" + latVal+ "," + longVal + "],%22$meters%22:%205000}}" + "&limit=50" + "&KEY=OGuAUQmSvTSqP5Jv6PJqn0UZ0bXEtHbOlOKcwVcR";
        var factualData = "";
        var longArr = [];
        var latArr = [];
        var nameArr = [];
        // Makes function call asynchronous
        $.ajaxSetup({"async": false});

        $.getJSON(newURL, function(data) {
          factualData = JSON.stringify(data);
        });

        // Manipulating Factual API data in order to create markers
        var latPos = factualData.indexOf("latitude");
        var longPos = factualData.indexOf("longitude");
        var namePos = factualData.indexOf("\"name\"");
        var counter = 0;
        while (counter < limit) {
          var lat = factualData.substring(latPos+10, factualData.indexOf(",", latPos));
          var long = factualData.substring(longPos+11, factualData.indexOf(",", longPos));
          var name = factualData.substring(namePos+7, factualData.indexOf(",", namePos)-1);
          longArr.push(long);
          latArr.push(lat);
          nameArr.push(name.replace('"', ''));

          latPos = factualData.indexOf("latitude", latPos+2);
          longPos = factualData.indexOf("longitude", longPos+2);
          namePos = factualData.indexOf("name", namePos+2);

          counter ++;
        }

        var locations = '[ ';

        for(i = 0; i < limit; i ++) {
          var temp = '{ "type": "Feature", "geometry": { "type" : "Point", "coordinates" : [' + String(longArr[i]) + ', ' + String(latArr[i]) + '] }, "properties": { "title": "' + String(nameArr[i]) + '", "marker-color": "#000000", "marker-size": "large", "marker-symbol": "restaurant"} }, ';
          if (i == limit-1) {
            var temp = '{ "type": "Feature", "geometry": { "type" : "Point", "coordinates" : [' + String(longArr[i]) + ', ' + String(latArr[i]) + '] }, "properties": { "title": "' + String(nameArr[i]) + '", "marker-color": "#000000", "marker-size": "large", "marker-symbol": "restaurant"} } ';
          }
          locations = locations + temp;
        }
        locations = locations + ' ]'

        var geojson = JSON.parse(locations);

        // Renders map
        L.mapbox.accessToken = 'pk.eyJ1Ijoic29jYWxkZXYiLCJhIjoiZDY2MGE5NWZhM2I0MTljODEyYTQxMzhmYmI5ODljNDUifQ.zRANwM_bBUoK33R0VGRPHw';
        var map = L.mapbox.map('map', 'mapbox.streets')
          .addControl(L.mapbox.geocoderControl('mapbox.places'))
          .setView([latVal, longVal], 17);


        var feautreLayer = L.mapbox.featureLayer()
          .setGeoJSON(geojson)
          .addTo(map);

    else
      // Auto-redirects to login page if no account is found
      script(type='text/javascript').
        window.location.href = '/login';
